[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pynvim = "*"
opencv-python = "*"
pdf2image = "*"
textract = "*"
voicerss-tts = "*"

[dev-packages]

[requires]
python_version = "3.10"
